rkhunter:
  http_proxy: http://172.16.0.108:8888
  install_method: tarball
  rkhunter_config:
    MAIL-ON-WARNING:
      - zhujh2@homelink.com.cn root@localhost
    TMPDIR: 
      - /var/lib/rkhunter
    DBDIR: 
      - /var/lib/rkhunter/db
    SCRIPTDIR: 
      - /usr/lib64/rkhunter/scripts
    LOGFILE: 
      - /var/log/rkhunter.log
    APPEND_LOG: 
      - 1
    USE_SYSLOG: 
      - authpriv.notice
    AUTO_X_DETECT: 
      - 1
    ALLOW_SSH_ROOT_USER: 
      - no
    ENABLE_TESTS: 
      - ALL
    DISABLE_TESTS: 
      - suspscan hidden_ports hidden_procs deleted_files packet_cap_apps
    PKGMGR: 
      - RPM
    EXISTWHITELIST: 
      - /var/log/pki-ca/system
      - /var/log/pki/pki-tomcat/ca/system
      - /usr/bin/GET
      - /usr/bin/whatis
    SCRIPTWHITELIST:
      - /usr/bin/whatis
      - /usr/bin/ldd
      - /usr/bin/groups
      - /usr/bin/GET
      - /sbin/ifup
      - /sbin/ifdown
    ALLOWHIDDENDIR:
      - /etc/.java
      - /dev/.udev
      - /dev/.udevdb
      - /dev/.udev.tdb
      - /dev/.udev/db
      - /dev/.udev/rules.d
      - /dev/.static
      - /dev/.initramfs
      - /dev/.SRC-unix
      - /dev/.mdadm
      - /dev/.systemd
      - /dev/.mount
      - /etc/.git
      - /etc/.bzr
    ALLOWHIDDENFILE:
      - /usr/share/man/man1/..1.gz
      - /lib*/.libcrypto.so.*.hmac
      - /lib*/.libssl.so.*.hmac
      - /usr/bin/.fipscheck.hmac
      - /usr/bin/.ssh.hmac
      - /usr/bin/.ssh-keygen.hmac
      - /usr/bin/.ssh-keyscan.hmac
      - /usr/bin/.ssh-add.hmac
      - /usr/bin/.ssh-agent.hmac
      - /usr/lib*/.libfipscheck.so.*.hmac
      - /usr/lib*/.libgcrypt.so.*.hmac
      - /usr/lib*/hmaccalc/sha1hmac.hmac
      - /usr/lib*/hmaccalc/sha256hmac.hmac
      - /usr/lib*/hmaccalc/sha384hmac.hmac
      - /usr/lib*/hmaccalc/sha512hmac.hmac
      - /usr/sbin/.sshd.hmac
      - /dev/.mdadm.map
      - /dev/.udev/queue.bin
      - /usr/share/man/man5/.k5login.5.gz
      - /usr/share/man/man5/.k5identity.5.gz
      - /usr/sbin/.ipsec.hmac
      - /sbin/.cryptsetup.hmac
      - /etc/.etckeeper
      - /etc/.gitignore
      - /etc/.bzrignore
    ALLOWDEVFILE:
      - /dev/shm/pulse-shm-*
      - /dev/md/md-device-map
      - /dev/shm/mono.*
      - /dev/shm/libv4l-*
      - /dev/shm/spice.*
      - /dev/.mdadm.map
      - /dev/.udev/queue.bin
      - /dev/.udev/db/*
      - /dev/.udev/rules.d/99-root.rules
      - /dev/md/autorebuild.pid
      - /dev/shm/sem.slapd-*.stats
    SUSPSCAN_DIRS: 
      - /tmp /var/tmp
    RTKT_FILE_WHITELIST:
      - /var/log/pki-ca/system
      - /var/log/pki/pki-tomcat/ca/system
    INSTALLDIR: 
      - /usr
    USER_FILEPROP_FILES_DIRS: 
      - /etc/rkhunter.conf
